body{
  background-color: #004D25;
}
h1{
    width: 90%;
    max-width:300px;
    display: flex;
    justify-content: center;
    margin: 5px auto;
    color: #DEE8CF;
    font-family: sans-serif;
}
h3{
    width: 90%;
    max-width:300px;
    display: flex;
    justify-content: center;
    margin: 5px auto;
    color: #DEE8CF;
    font-family: sans-serif;
}
.contenedor-anima {
  display: grid; /* Enables grid layout */
  grid-template-columns: repeat(3,1fr); /* Creates three equal-width columns */
  gap: 10px; /* Adds space between items */
}
.grid-item {
  background-color: #DEE8CF;
  text-align: center;
}
.anima_btn{
    margin: 10px;
}